{% extends 'base.html.twig' %} {# Assuming your base layout is named base.html.twig #}

{% block content %}



	<div class="container-xxl flex-grow-1 container-p-y mt-4">

 <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Listes des livres</h3>
        
    </div>	
    <a href="{{ url('app_ajouter_livre') }}">
        <button type="button" class="btn rounded-pill btn-primary">Ajouter</button>
    </a>
   


<table class="table table-condensed table-striped table-bordered table-hover mt-3">
    <thead class="table-primary">
        <tr>
            <th>Numero</th>
            <th>Nom livre</th>
            <th>Auteur livre</th>
            <th>Reference</th>
            <th>Ouvrage</th>
            <th>Année de publication</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ livre.nomLivre }}</td>
                <td>{{ livre.auteurLivre }}</td>
                <td>{{ livre.reference }}</td>
                <td>{{ livre.ouvrage }}</td>
                <td>{{ livre.getAnneePublication()|date('d-m-Y') }}</td>
                <td>
                    <a class="btn btn-warning rounded-pill" href="{{ path('app_modifier_livre', {'id': livre.id}) }}">Modifier</a>
                    <!-- Trigger the modal -->
                    <button class="btn btn-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#deleteModal{{ livre.id }}">Supprimer</button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ livre.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ livre.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel{{ livre.id }}">Suppression d'un livre</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <!-- Modal Body -->
                                <div class="modal-body">
                                    Cette action est irréversible ! Voulez-vous supprimer ce livre ?
                                </div>
                                <!-- Modal Footer -->
                                <div class="modal-footer">
                                    <a class="btn btn-danger rounded-pill" href="{{ url('app_supprimer_livre', {'id': livre.id}) }}">Confirmez</a>
                                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

	</div>
{% endblock %}
